*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}





.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 450px;
    background-color: rgb(188, 207, 154);
    border-radius: 30px;
    gap: 60px;
    transition: 0.7s ease;
}

.produto:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgb(68, 63, 63);
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    
}

.foto img{
    height: 300px;
}

.texto{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
}

.botao button{
    background-color: rgb(93, 138, 93);
    width: 80px;
    
}

.botao {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

.voltar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
}

.voltar button{
    height: 30px;
    width: 70px;
   background-color: rgb(23, 95, 23);
   color: aliceblue;
}
 .voltar:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgb(68, 63, 63);
}